header {
	height: 6em;
	margin: 0 auto;
 	text-align: center;	
 	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	width: 560px;
	border: 2px solid #9c9c9c;
	font-size: 25px;
}

.input {
	margin: 0 auto;
	padding: 5px 0px 5px 0px;
	text-align: center;
	border-left: 2px solid #9c9c9c;
	border-right: 2px solid #9c9c9c;
	border-bottom: 2px solid #9c9c9c;
	width: 560px;
}

.list-area {
	margin: 0 auto;
	padding: 5px 0px 5px 0px;
	border-bottom: 2px solid #9c9c9c;
	border-left: 2px solid #9c9c9c;
	border-right: 2px solid #9c9c9c;
	width: 560px;
}

.list-area > ul {
 	padding-left: 200px;
}

li {
 	list-style-type: none;
 	display: block;
 	font-size: 25px;
 	font-weight: 300;
 	margin: 10px 0;
}

/*.active-item .completed-item i {
 	margin: 0 12px 0 0;
}*/

.active-item > .fa {
	width: 25px;
}

.completed-item > .fa {
	width: 25px;
}

#delete-items {
	margin-left: 200px;
}